<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="../styles/reset.css">
		<link rel="stylesheet" href="../styles/header.css">
		<link rel="stylesheet" href="../styles/sidebar.css">
		<link rel="stylesheet" href="../styles/footer.css">
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="../styles/employee-signup.css">
		<script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
		<script src="../javascript/employee-signup.js"></script>
	</head>
	<body>
		<header id="header">
      <i class="fa-solid fa-bars"></i>
      <h1>Trackgenix S.A.</h1>
      <ul class="social-media">
        <li>
          <a class="fa-brands fa-facebook" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-instagram" href=""#></a>
        </li>
        <li>
          <a class="fa-brands fa-twitter" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-linkedin" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-github" href="#"></a>
        </li>
      </ul>
    </header>
		<footer id="footer">
      <ul class="social-media">
        <li>
          <a class="fa-brands fa-facebook" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-instagram" href=""#></a>
        </li>
        <li>
          <a class="fa-brands fa-twitter" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-linkedin" href="#"></a>
        </li>
        <li>
          <a class="fa-brands fa-github" href="#"></a>
        </li>
      </ul>
      <p>Copyright 2022 Trackgenix. All rights reserved.</p>
    </footer>
	</body>
</html>