/* COMPONENT STYLES */

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
}

h4 {
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border-radius: 5px;
}

section {
  position: relative;
  margin: 0 54px;
}

main {
  padding-top: 100px;
  padding-left: 288px;
}

.social-media {
  display: inline-block;
}

.social-media > li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  width: calc(1440px - 288px);
  height: 100px;
  z-index: 100;
  padding: 0;
  margin-left: 288px;
  box-shadow: 0px 4px 0px #ff0000;
  background-color: #fff;
}

/* HEADER STYLES */

header > i {
  position: relative;
  top: 35px;
  left: 35px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: #FF5500;
}

header > h1 {
  position: absolute;
  top: 23px;
  left: 100px;
}

header > ul {
  position: absolute;
  top: 60px;
  right: 20px;
}

/* NAV STYLES */

nav {
  position: fixed;
  padding: 35px 14px;
  top: 0;
  left: 0;
  z-index: 200;
  font-size: 20px;
  width: 288px;
  height: 100%;
  background-color: #ddd;
}

#sidebar-search {
  width: 100%;
  height: 37px;
  font-size: 14px;
  padding-left: 12px;
  margin-bottom: 78px;
  border-radius: 4px;
  border-color: #373867;
}

nav > h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

nav > ul {
  padding: 0;
  list-style-type: none;
}

nav > ul > li {
  line-height: 23px;
  margin: 20px 0;
}

/* SECTIONS STYLES */

/*  WHAT IS TRACKGENIX */

#what-is-trackgenix{
  position: relative;
  padding-top: 49px;
  height: 500px;
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

#what-is-trackgenix > h2 {
  position: absolute;
  top: 84px;
}

#what-is-trackgenix > p {
  display: inline-block;
  position: absolute;
  top: 150px;
  width: 420px;
}

#what-is-trackgenix > img {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 525px;
  height: 401px;
}

/* FUNCTIONALITIES */

#functionalities {
  position: relative;
  padding-top: 50px;
  height: 461px;
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

#functionalities > h2 {
  margin-bottom: 36px;
}

.functionalities-item:nth-child(3), .functionalities-item:nth-child(5) {
  margin-left: 60px;
}

.functionalities-item { 
  display: inline-block;
  position: relative;
  margin-bottom: 35px;
  width: 490px;
  height: 130px;
}

.functionalities-item > i {
  margin-right: 10px;
  position: absolute;
  font-size: 130px;
}

.functionalities-item > h3 {
  width: 350px;
  position: relative;
  left: 140px;
}

.functionalities-item > p {
  position: relative;
  top: 5px;
  left: 140px;
  width: 350px;
  font-size: 14px;
}

/* WHY TRACKGENIX */

#why-trackgenix{
  position: relative;
  height: 368px;
  padding-top: 52px;
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

#why-trackgenix > h2 {
  position: absolute;
  top: 52px;
  margin-bottom: 20px;
}

#why-trackgenix > ul {
  position: absolute;
  left: 0;
  top: 122px;
  width: 350px;
  height: 120px;
  padding-left: 20px;
}

#why-trackgenix > ul > li {
  font-size: 20px;
}

#why-trackgenix > img {
  position: absolute;
  top: 0px;
  left: 676px;
  display: inline-block;
  position: relative;
  width: 280px;
  height: 268px;
}

#why-trackgenix > a {
  position: absolute;
  color: #ff5500;
  width: 139px;
  height: 46px;
  bottom: 50px;
  left: 0px;
  text-align: center;
  padding: 14px 36px;
  border-radius: 5px;
  border: 1px solid #ff5500;
}

/* CONTACT US */

#contact-us{
  position: relative;
  padding: 50px 0;
  height: 512px;
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

#contact-name, #contact-email {
  display: inline-block;
  margin-top: 50px;
  padding-left: 10px;
  width: 500px;
  height: 37px;
}

#contact-area {
  color: #767676;
  font-size: calc(40px /3);
  border: 0.5px solid #767676;
  border-radius: 2px;
  height: 37px;
  width: 1004px;
  margin: 24px 0;
}

#contact-message {
  color: #767676;
  font-size: calc(40px /3);
  border: 0.5px solid #767676;
  border-radius: 2px;
  height: 140px;
  width: 1004px;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 24px;
}

.contact-form-send {
  color:  #fff;
  background-color: #ff5500;
  height: 46px;
  padding: 14px 36px;
  border: 1px solid #ff5500;
  border-radius: 5px;
}

.contact-form-reset {
  color: #ff5500;
  background-color: #fff;
  height: 46px;
  padding: 14px 36px;
  margin-left: 45px;
  border: 1px solid #ff5500;
  border-radius: 5px;
}

/* OUR HISTORY */

#our-history{
  position: relative;
  height: 380px;
  margin-top: 50px;
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

.our-history-paragraph {
  position: absolute;
  right: 0;
  top: 80px;
  height: 220px;
  width: 570px;
}

.our-history-paragraph > p {
  font-size: 15px;
  line-height: 18px;
}

#our-history > img {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  width: 435px;
  height: 220px;
}

/* OUR SERVICES */

#our-services{
  position: relative;
  height: 316px;
  padding-top: 50px;
  padding-left: 135px;
}

.our-services-item {
  display: inline-block;
  position: relative;
  width: 230px;
}

.our-services-item:nth-child(2) {
  margin-left: 69px;
  margin-right: 100px;
}

.our-services-item > ol {
  padding: 20px;
  height: 130;
}

/* FOOTER */

#footer {
  height: 100px;
  width: calc(1440px - 288px);
  padding-top: 25px;
  right: 0px;
  margin-left: 288px;
  box-shadow: inset 0 4px 0 #ff0000;
  background-color: #fff;
}

#footer > .social-media {
  display: block;
  text-align: center;
  margin-bottom: 6px;
}