main {
    padding: 0 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 0;
}

section:not(:last-child) {
  box-shadow: 0px -1px 0px 0px #aaaaaa inset;
}

/* WHAT IS TRACKGENIX SECTION  */

#what-is-trackgenix > h2{
  margin: 20px 0;
}

#what-is-trackgenix > img {
  order: -1;
  max-width: 525px;
}

/* FUNCTIONALITIES SECTION */

#functionalities {
  gap: 15px;
}
#functionalities > h2 {
  margin-bottom: 10px;
}

.functionalities-item {
  display: flex;
  flex-direction: column;
  
}

.functionalities-item > i {
  font-size: 40px;
}

/* WHY TRACKGENIX */

#why-trackgenix > h2{
  margin: 20px 0 10px 0;
}

#why-trackgenix > img {
  order: -1;
  max-width: 280px;
}

#why-trackgenix > ul {
  padding-left: 20px;
}

#why-trackgenix > a {
  width: 107px;
  height: 37px;
  margin-top: 10px;
  padding: 9.5px 36px;
  border-radius: 5px;
  border: 1px solid #ff5500;
  text-align: center;
  line-height: 16px;
  color: #ff5500;
}

/* CONTACT US SECTION */

#contact-us > h2{
  margin-bottom: 20px;
}

#contact-form > input, select, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 12px;
  border: 1px solid #555;
  border-radius: 4px;
  color: #555;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-button {
  height: 46px;
  padding: 14px 36px;
  border: 1px solid #ff5500;
  border-radius: 5px;
}

.contact-form-send {
  background-color: #ff5500;
  color:  #fff;
}

.contact-form-reset {
  background-color: #fff;
  color: #ff5500;
}

/* OUR HISTORY */

#our-history > h2{
  margin: 20px 0;
}

#our-history > img {
  order: -1;
  height: 180px;
  max-width: 435px;
}

/* OUR SERVICES */

#our-services {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  row-gap: 15px;
}

.our-services-item {
  flex-basis: 200px;
  width: 100%;
}

.our-services-item > ol {
  padding-left: 20px;
}